.select {
  /* Reset Select */
  appearance:initial;
  outline: 20px red;
  border: 1;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color:#004d9b var(--darkgray);
  background-image: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
.select option{
  font-size: 20px;
}
/* Remove IE arrow */
.select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 10px;
  overflow: hidden;
  background-color:#bed7f1;
}
/* Arrow */
.select::after {
  /*content: '\25BC';*/
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #0452a0;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #12f312;
}
.container {
  position : absolute;
  top: 50%;
  left : 50%;
  transform :
  translate(-50%,-50%); 
}